body {
    margin: 0;
}

nav {
    overflow: hidden;
    padding:5px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 12px;
}
nav .left {
    float: left;
    margin-right: auto;
}

nav .right {
    float:right;
    margin-left: auto;
}

nav a:hover {
    color:black;
    text-decoration: underline;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 10px;
}

.search {
    text-align: center;
    margin-bottom: 20px;
}

.search .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button {
    text-align: center;
}

.text {
    text-align: center;
    margin: 20px;
}

.text p a{
    text-decoration: none;
}

.text p a:hover {
    text-decoration: underline;
}

footer {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding-left: 10px;
    padding-right:10px;
}

footer a:hover {
    text-decoration: underline;
}

footer .left {
    float: left;
    margin-right: auto;
}

footer .right {
    float: right;
    margin-left: auto;
}